* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 5vw;
  background-color: rgb(235, 235, 241);
}

.header-logo {
  font-family: "Courier New", Courier, monospace;
  margin-left: 3vw;
  font-weight: 700;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-right: 30px;
  color: black;
}

/* .firstImage {
  justify-content: center;
} */

.aboutSection {
  display:inline-block;
  justify-content: center;
  margin-top: 4vw;
}

.secondImage {
  display: inline;
  padding: 4vw;
}

.cateringInfo {
  width: 30vw;
  padding: 10px;
  text-align: center;
}

hr{
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.1);
}

.MenuSection {
  display: flex;
  justify-content: center;
}

.menu{
  margin-right: 40px;
}
 
.MenuSection .menu h2 {
  margin-top: 35px;
  margin-bottom: 10px;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 100;
}

.contactSection{
  margin: auto;
  font-size: 14px;
  width: 1100px;
}

.contactSection h2{
  font-size: 40px;
  margin-bottom: 45px;
}

.contactSection p{
  text-align: justify;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 30px;
}
